# Ignore Python virtual environments
venv/

# Ignore the __pycache__ directory
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore the .vscode directory
.vscode/

# Ignore any compiled Python files
*.pyc

# Ignore system-specific temporary files or backups
*~

**/.DS_Store
e4e/.DS_Store
ChartOfTheDay/templates/cpi/geckodriver.log
.vscode/settings.json


Map Builder/uk_lads_2024.geojson